menu "App Configuration"

    config APP_MQTT_URI
        string "MQTT URI"
        default "mqtts://example.org:1883"
        help
            The MQTT broker URI to connect to.

    config APP_OTA_URI
        string "OTA URI"
        default "https://example.org:3232"
        help
            The OTA firmware update URL.

endmenu